.courseCard {
    display: flex;
    gap: 20px;
    border: 1px solid rgb(212, 217, 217);
    background-color: rgb(230, 237, 241);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 10px;
    border-radius: 5px;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.courseCard:hover {
    box-shadow: rgba(0, 0, 0, 0.459) 0px 2px 10px;
}
.cardFirstColumn {
    width: 65%;
}
.cardSecondColumn {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 5px;
}
.cardInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.cardButtons {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
.cardsecondColumn > button {
    margin-top: 10px;
}
.courseCard__title {
    margin-bottom: 10px;
}
.courseCard__authors {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.courseCard__description {
    line-height: 1.5;
}
